.package-listing {
    padding: 120px 0 60px;

    .banner-section {
        background-image: url("../images/banner-section/banner.jpg");
        background-size: cover;
        height: 50vh;
        top: 0;
        z-index: -1;
        width: 100%;
        margin-bottom: 60px;
        .ban-title {
            color: #fff;
        }

        .ban-para {
            color: #fff;
        }

        .ban-wrap {
            position: relative;
            top: 75%;
            width: 75%;
        }
    }

    .pack-pad {
        padding-top: 100px;
    }

    h2 {
        padding-bottom: 100px;
        text-align: center;
    }

    .accordion-item {
        border: none;

        .accordion-button {
            background-color: transparent;
            box-shadow: none;
            border: 3px solid;
            color: color(primary, ps_secondary);
            border-color: color(primary, ps_orange);
            font-weight: 700;
            padding-bottom: 18px;
            margin-bottom: 20px;
            font-size: 20px;
        }

        .accordion-body {
            background: #e9ecef;
            margin-bottom: 60px;
            padding: 50px 0;
        }
    }

    .package-wrap {
        padding: 70px 15px 40px;
        background: #fd850030;
        border: 4px solid #f94600;
        position: relative;
        .package-circle {
            position: absolute;
            top: -15%;
            background: #fe8c00;
            background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
            border-radius: 20px;
            background: linear-gradient(to right, #f83600, #fe8c00);
            padding: 10px;
            border-radius: 50%;
            height: 105px;
            width: 105px;
            margin: 0 auto;
            background-color: transparent;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            text-transform: capitalize;
            color: #fff;
            left: 32%;

            .package-title {
                font-size: 15px;
                line-height: 22px;
            }
        }

        .package-content {
            h5 {
                min-height: 101px;
            }
        }
        .packages-pricing {
            li {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
