.single-post {
	.date-time {
		color: #a8a8a8;
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
		.cat {
			color: #1d1d1b;
			line-height: 18px;
		}
		.hypen {
			color: #a8a8a8;
		}
	}
}
