.contact-section {
    background-color: transparent;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(
        to right,
        #f83600,
        #fe8c00
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 50px 0;
    color: #fff;

    .contact-content {
        h2 {
            color: #fff;
        }
    }

    .contact-btn {
        display: flex;
        align-items: center;
    }
}
